$latime_buton: 100%;

%line-block{
  display: inline-block;
  margin: 0;
}

#hamburger {
  display: block;
  cursor: pointer;

  img {
    height: 2rem;
  }
}

ul.meniu {
  display: none;
  position: absolute;
  width: 100%;
  transform-origin: 0 0;
  animation-name: afis_meniu;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  > li {
    text-shadow: none;
    &:hover > ul {
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      transform-origin: left top;
    }
  }
}

ul.meniu{
  li{
    div{
      p{
        @extend %line-block;
      }
      i{
        @extend %line-block;
      }
    }
  }
}

#ch-menu:checked ~ ul.meniu {
  display: block;
}



@keyframes afis_meniu {
  0% {
    transform: scale(0, 0);
    opacity: 0;
    letter-spacing: -10px;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
    letter-spacing: normal;
  }
}