<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Cafenea & Sushi</title>
        <meta name="keywords" content="cafenea,sushi,cafea,cafeaua">
        <meta name="description" content="Vizitati-ne pentru cafea intensa și BAUTURI premium.">
        <% -include("../fragmente/head.ejs") %>
        
    </head>

    <body>
        <header>
            <h1 class="pacifico">Cafenea &amp; Sushi <i class="fa-solid fa-mug-hot" style="--fa-animation-duration: 0.5s;"></i></h1>
            <% -include("../fragmente/header.ejs") %>
            <br>
            <br>
        </header>
        <Br>
        <main>a doua pagina despre ejs</m ain>
        <Br>
        <% -include("../fragmente/footer.ejs") %>
    </body>
</html>