<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="cafenea,sushi,cafea,cafeaua">
        <meta name="description" content="Vizitati-ne pentru cafea intensa și BAUTURI premium.">
        <title>Galerie</title>
        <%- include("../fragmente/head.ejs");  %> 

    </head>
    <body >

    <header>
            <h1 class="pacifico titlu-site">Galerie<i class="fa-solid fa-mug-hot" style="--fa-animation-duration: 0.5s;"></i>
                <div>
                    <h1 class="pacifico reflexie">Galerie<i class="fa-solid fa-mug-hot" style="--fa-animation-duration: 0.5s;"></i>
                </div>
            </h1>
        <%- include("../fragmente/nav.ejs");  %> 
    </header>
    <Br>

    <main>
        
        <%- include("../fragmente/galerie-statica.ejs"); %>
        
    </main>

    <%- include("../fragmente/footer.ejs");  %> 
        

    </body>
</html>