<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Cafenea & Sushi</title>
        <meta name="keywords" content="cafenea,sushi,cafea,cafeaua">
        <meta name="description" content="Vizitati-ne pentru cafea intensa și BAUTURI premium.">
        <%- include("../fragmente/head.ejs") %>
        
    </head>

    <body>
        <header>
            <h1 class="pacifico">Cafenea &amp; Sushi <i class="fa-solid fa-mug-hot" style="--fa-animation-duration: 0.5s;"></i></h1>
            <%-  include("../fragmente/nav.ejs") %>
        </header>
        <Br>
        <main> <!--  comentariu -->
            
            <div id="grid-pagina">
                <section id="welcome">
                <h2>Bine ati venit </h2>
                <div class="flex-row">
                    <div>
                        <hgroup>
                            <p id="watermark"></p>
                            <p class="subtitlu">pe site-ul nostru</p>
                        </hgroup>
                        <p class="intro">Vă mulțumim că ne vizitați site-ul. Vă invităm la cafeaua de dimineată și la un sushi delicios.</p>

                        <p class="anunt intro">Puteți alege din marea noastră varietate de cafele si</p>

                        <div id="dv-prezentare">
                            <figure>
                                <picture title="Cafeaua zilei">
                                    <!-- il ia pe primul care se potriveste cu query-ul din media-->
                                    <source srcset="/resurse/imagini/cafeau_zilei200.jpg" media="(max-width:700px)"/>
                                    <source srcset="/resurse/imagini/cafeau_zilei400.jpg" media="(max-width:1200px)"/>
                                    <img src="/resurse/imagini/cafeau_zilei600.jpg" alt="cafea"/>
                                </picture>
                                <figcaption>Cafeaua zilei</figcaption>
                            </figure>
                        </div>
                    </div>

                    <div>
                        <h2>Vrei sa te informezi despre originea cafelei si a sushi-ului? </h2>
                        <p>Apasa pe ce esti interesat sa afli si vei fi redirectionat automat la wikipedia!</p>
                        <img src="/resurse/imagini/cafea&sushi.png" alt="Masă cu sushi și cafea" usemap="#harta_produse">

                        <map name="harta_produse">
                            <area shape="poly" coords="82,319,64,143,128,146,143,297" title="cafea" href="https://ro.wikipedia.org/wiki/Cafea" target="_blank" alt="cafea">
                            <area shape="poly" coords="241,123,248,296,438,314,330,108,383,127,414,163,439,184" title="cafea" href="https://ro.wikipedia.org/wiki/Cafea" target="_blank" alt="cafea">
                            <area shape="poly" coords="121,363,152,313,406,331,410,389" title="sushi" href="https://ro.wikipedia.org/wiki/Sushi" target="_blank" alt="sushi">
                            <area shape="poly" coords="28,234,14,293,65,242,64,296" title="sushi" href="https://ro.wikipedia.org/wiki/Sushi" target="_blank" alt="sushi">
                            <area shape="poly" coords="148,239,150,293,227,235,240,293" title="sushi" href="https://ro.wikipedia.org/wiki/Sushi" target="_blank" alt="sushi">
                        </map>
                    </div>
                </div>
                <br>
                <details class="details-video">
                    <summary>Making of onigiri - video <i class="fa-solid fa-hand-pointer"></i> </summary>

                    <div id="container-video">
                        <div id="centrare-video">
                            <div id="clip-video">
                                <div id="stil-video">
                                    <video width="320" height="240"  playsinline autoplay loop muted preload="metadata">
                                        <source src="/resurse/video/Making_of_onigiri.mp4" type="video/mp4">
                                        <source src="/resurse/video/Making_of_onigiri.mov" type="video/mov">
                                        <track default src="data:text/vtt;charset=utf-8,WEBVTT%0A%0A00%3A00.000%20--%3E%2000%3A03.000%20line%3A50%25%20align%3Amiddle%0AMaking%20of%20onigiri%0A%0A00%3A03.000%20--%3E%2000%3A06.500%0ADeci%20se%20taie%20aia%20si%20apoi%20se%20apasa%20ala%20in%20forma%0A%0A00%3A06.500%20--%3E%2000%3A08.000%0ASe%20impatureste%20bine%20in%20aia%0A%0A00%3A09.000%20--%3E%2000%3A13.000%0ASe%20da%20cu%20chestii%20peste%20si%20aia%20e%20%0A%0A00%3A13.000%20--%3E%2000%3A14.500%0AA%2C%20se%20mai%20pune%20altceva%20peste.%20%0A%0A00%3A14.500%20--%3E%2000%3A16.500%0ACe%20unghii%20are%20emoloaica%20%F0%9F%98%AD%F0%9F%98%AD%F0%9F%98%AD" kind="captions" srclang="ro" label="Română">
    
                                        <track src="data:text/vtt;charset=utf-8,WEBVTT%0A%0A00%3A00.000%20--%3E%2000%3A03.000%20line%3A50%25%20align%3Amiddle%0AMaking%20of%20onigiri%0A%0A00%3A03.000%20--%3E%2000%3A06.500%0ASo%20they%20cut%20that%20thing%20and%20then%20press%20the%20other%20thing%20in%20the%20mold%0A%0A00%3A06.500%20--%3E%2000%3A08.000%0AYou%20wrap%20it%20up%20real%20good%20in%20that%20thing%0A%0A00%3A09.000%20--%3E%2000%3A13.000%0AYou%20sprinkle%20some%20stuff%20on%20top%20and%20that%27s%20it%0A%0A00%3A13.000%20--%3E%2000%3A14.500%0AOh%20wait%2C%20something%20else%20goes%20on%20top.%20%0A%0A00%3A14.500%20--%3E%2000%3A16.500%0ALook%20at%20the%20emo%20girl%27s%20nails%20%F0%9F%98%AD%F0%9F%98%AD%F0%9F%98%AD" kind="captions" srclang="en" label="English">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </details>

            </section>
                

                <section id="evenimente">
                    <strong>Evenimente</strong>
                    <p><time datetime="2025-03-01"><span style="font-weight: bold;">01 Martie 2025</span></time> - Movie night inceput de primavara</p>
                    <p><time datetime="2025-04-01"><span style="font-weight: bold;">01 Aprilie 2025</span></time> - Movie night 1 aprilie</p>
                    <p><time datetime="2025-04-09"><span style="font-weight: bold;">09 Aprilie 2025</span></time> - Petrecere aniversala</p>
                    <p><time datetime="2025-05-12"><span style="font-weight: bold;">12 Mai 2025</span></time> - New movie release</p>
                    <p><time datetime="2025-06-01"><span style="font-weight: bold;">01 Iunie 2025</span></time> - Movie night ziua copiilor</p>

                </section>

                <section id="orar">
                    <h2>Orar</h2>

                    <div class="container-tabel"></div>

                        <table id="tab-orar">
                            <thead>
                                <tr>
                                    <th>Cod</th>
                                    <th>Perioadă</th>
                                    <th>Zi</th>
                                    <th>Interval dimineata</th>
                                    <th>Pauza de masa</th>
                                    <th>Interval seară</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td rowspan="5" class="exceptie-tabel" >Zile<br/>Lucrătoare</td>
                                    <td>Luni</td>
                                    <td>10-12</td>
                                    <td>12-14</td>
                                    <td>14-20</td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td>Marti</td>
                                    <td>9-12</td>
                                    <td>12-14</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td>Miercuri</td>
                                    <td>9-11</td>
                                    <td>11-13</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td>Joi</td>
                                    <td>9-11</td>
                                    <td>11-13</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>

                                    <td>Vineri</td>
                                    <td>9-12</td>
                                    <td>12-14</td>
                                    <td>14-19</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td rowspan="2" class="exceptie-tabel">Weekend</td>
                                    <td>Sambata</td>
                                    <td>10-12</td>
                                    <td>12-13</td>
                                    <td>13-16</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Duminica</td>
                                    <td>10-14</td>
                                    <td>-</td>
                                    <td>inchis</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">Închis cu ocazia sărbătorilor legale, sau, când ne e mai lene așa.</td>
                                </tr>
                            </tfoot>
                        </table>

                    <p><strong>Atentie!!!</strong> in prima zi a lunii facem inventar. <i class="fa-solid fa-sync fa-spin"></i> </p>
                </section>

                <section id="anunturi">
                    <h2 class="fg-img">Anunțuri</h2>
                    <p><time datetime="2025-07-20">20 iulie 2025</time> Nu avem niciun eveniment de anunțat la cafenea, doar a trecut ceva vreme de la ultimul anunț și ne-am gândit să vă reamintim să faceți rezervări.</p>
                    <p><time datetime="2022-01-05">5 ianuarie 2022</time> <strong>Liber la sushi și cafea în bistro!!!!</strong></p>

                    <p><time datetime="2020-03-15">15 martie 2020</time> <span>Am adăugat un nou tip de sushi roll în meniu</span></p>
                    <p><time datetime="2020-04-05">5 aprilie 2020</time> <span>Am adăugat cafeaua V60 în meniul de la cafenea</span></p>
                    <p><time datetime="2020-07-05">5 iulie 2020</time> Am adăugat un desert fusion cu matcha în meniu</p>
                    <p><time datetime="2020-09-15">15 septembrie 2020</time> Am adăugat sake cald în meniu (nu se combină cu cafeaua, vă rugăm)</p>
                    <p><time datetime="2020-12-20">20 decembrie 2020</time> Nu avem evenimente noi de anunțat, dar ne era dor să vă preparăm un espresso.</p>
                    <p><time datetime="2020-12-28">28 decembrie 2020</time> Am adăugat platoul King Roll în meniul de sushi</p>
                    <p><time datetime="2021-01-01">1 ianuarie 2021</time> Un an nou fericit și plin de cofeină!</p>
                    <p><time datetime="2021-02-11">11 februarie 2021</time> Studiile au arătat că un mix de cafea și sushi este secretul fericirii. 
                        E adevărat că doar studiile noastre făcute în spate la bistro, dar astea sunt detalii. </p>
                </section>

                <section id="utilizatori-online" class="PLACEHOLDER">IP: <%- locals.ip %></section>
                <section id="utilizatori-statistici">PLACEHOLDER</section>
                <section id="site-server">PLACEHOLDER</section>

                            <div id="rest-continut">

                <section id="promotii">
                    <h2>Promoții și oferte</h2>
                    <article>
                        <h3 class="titlu">Super ofertă de weekend</h3>
                        <p><b>Noul nostru bistro</b> oferă <b>reduceri de <s>10%</s> <ins>15%</ins></b> pentru toate comenzile de cafea și sushi plasate în intervalul 10-14.</p>
                        <p>Oferta este valabilă doar în zilele de sâmbătă și duminică, cu sau fără rezervări, la mesele <abbr title="Cafenea & Sushi">C&S</abbr>.</p>
                        <p>În cazul în care comandați mai mult de zece <b>rulouri de sushi</b> primiți și un card de fidelitate pentru cafenea!</p>
                    </article>
                    <article>
                        <h3>Ofertă pachet fusion</h3>
                        <p>Bistro-ul nostru oferă pachete cuprinzând:</p>
                        <ol>
                            <li><i lang="en">specialty coffee</i></li>
                            <li>Un set de 4 rulouri de sushi (maki) de sortimente diferite</li>
                            <li>O cafea caldă la alegere</li>
                            <li>Un <i>matcha latte</i></li>
                            <li>Gratis: o farfurioară ornată cu sigla acestei cafenele</li>
                            <li>Gratis: o invitație la următoarele evenimente din bistro</li>
                            <li>Gratis: o sticluță extra cu sos de soia (am comandat prea mult sos pentru sushi și nu mai avem loc în depozit. Nu ne reclamați la ANPC, mulțumim de înțelegere!).  </li>
                        </ol>

                    </article>

                </section>

                <section id="container-figuri">
                    <figure id="fig1" class="fg-img">
                    <img src="/resurse/imagini/cafea1.png" alt="cafea1">
                    <figcaption>Special Matcha</figcaption>
                    </figure>
                    <figure id="fig2" class="fg-img">
                    <img src="/resurse/imagini/cafea2.png" alt="cafea2">
                    <figcaption>Latte cu ciocolata  </figcaption>
                    </figure>
                    <figure  id="fig3" class="fg-img">
                    <img src="/resurse/imagini/cafea3.png" alt="cafea3">
                    <figcaption>Iced Matcha</figcaption>
                    </figure>
                </section>

                <section id="produse">
                    <h2>Produsele noastre</h2>
                    <p>Vă oferim o multitudine de metode să vă delectați în bistro-ul nostru fusion.</p>
                    <section>
                        <h3>Băuturi Calde (Cafea)</h3>
                        <p>În caz că nu puteți bea cafea fiindcă sunteți la dietă și doar vă uitați la ea, vă recomandăm un ceai cald la cafenea!</p>
                        <p>Avem cafea și derivate precum:</p>
                        <ul>
                            <li>Espresso Double</li>
                            <li>Long Black</li>
                            <li>V60</li>
                            <li>Cortado</li>
                            <li>Flat White</li>
                            <li>energie pentru următoarele evenimente din viața ta</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Sushi Rolls</h3>
                        <p>Oferim preparatele clasice de sushi plus câteva creations personnelles, hai, fă rezervări!</p>
                        <p>Sushi Rolls:</p>
                        <ul>
                            <li>California Roll</li>
                            <li>Tempura Shrimp Roll</li>
                            <li>Veggie Roll</li>
                            <li>Chicken Katsu Roll</li>
                            <li>King Roll (oriental, meridional și occidental, la 450g)</li>
                            <li>Maki la alegere</li>
                            <li>Nigiri la alegere</li>
                            <li>experiență umami</li>
                        </ul>
                    </section>

                    <section>
                        <h3>Băuturi (Alcool și Răcoritoare)</h3>
                        <p>Paharele noastre sunt umplute cu:</p>
                        <ul>
                            <li>Cold Brew Martini</li>
                            <li>Ramune Soda Pop</li>
                            <li>Sake (100ml)</li>
                            <li>Bere Asahi</li>
                            <li>compoziție secretă de Matcha (sincer, noi folosim doar lapte vegan +4 LEI)</li>
                        </ul>
                    </section>

                    <section id="grad-ocupare">
                    <h2>Ocupatia zilnica medie</h2>
                    <table id="tabel-ocupatie">
                        <tr>
                            <td >LUNI</td>
                            <td><meter min="0" max="100" value="60" ></meter></td>
                            <td> - 60%</td>
                        </tr>
                        <tr>
                            <td>MARȚI</td>
                            <td><meter min="0" max="100" value="55"></meter></td>
                            <td> - 55%</td>
                        </tr>
                        <tr>
                            <td>MIERCURI</td>
                            <td><meter min="0" max="100" value="65"></meter></td>
                            <td> - 65%</td>
                        </tr>
                        <tr>
                            <td>JOI</td>
                            <td><meter min="0" max="100" value="65"></meter></td>
                            <td> - 65%</td>
                        </tr>
                        <tr>
                            <td>VINERI</td>
                            <td><meter min="0" max="100" value="80"></meter></td>
                            <td> - 80%</td>
                        </tr>
                        <tr>
                            <td>SÂMBĂTĂ</td>
                            <td><meter min="0" max="100" value="90"></meter></td>
                            <td> - 90%</td>
                        </tr>
                        <tr>
                            <td>DUMINICĂ</td>
                            <td><meter min="0" max="100" value="75"></meter></td>
                            <td> - 75%</td>
                        </tr>
                    </table>
                </section>
                    

                </section>


                <section id="index-intrebari">
                    <h2>Întrebări frecvente</h2>
                    <details><summary>Cafeaua dumneavoastră provoacă palpitații și insomnii severe?</summary>
                        <p>Da! De aceea vă așteptăm în fiecare dimineață la cafenea.</p>
                    </details>
                    <details><summary>Rulourile de sushi provoacă dependență și dorința incontrolabilă de a face rezervări zilnice?</summary>
                        <p>Da!</p>
                    </details>
                    <details><summary>Meniul vostru fusion duce la cheltuirea întregului salariu în acest bistro?</summary>
                        <p>Foarte! Da!</p>
                    </details>
                    <details><summary>Sunteți cumva asociați cu medicii cardiologi, clinicile de somnologie și organizatorii de evenimente japoneze?</summary>
                        <p>Ne rezervăm dreptul de a nu răspunde la această întrebare; mulțumim pentru înțelegere!</p>
                    </details>
                        <details><summary>Exista acces la internet in acest bitro?</summary>
                        <p>DA! Parola Wi-fi ului se obtine doar prin rezolvarea urmatoarei probleme de matematica</p>
                        
                        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block" class="math-decorat">
                            <mrow>
                                <msubsup>
                                    <mo class="m-integral">&#x222B;</mo>
                                    <mn class="m-limita">0</mn>
                                    <mn class="m-limita">1</mn>
                                </msubsup>

                                <mfrac>
                                    <mrow>
                                        <mi class="m-functie">ln</mi>
                                        <mo>(</mo>
                                        <mn>1</mn>
                                        <mo>+</mo>
                                        <mi class="m-variabila">x</mi>
                                        <mo>)</mo>
                                    </mrow>

                                    <mrow>
                                        <mn>1</mn>
                                        <mo>+</mo>
                                        <msup>
                                            <mi class="m-variabila">x</mi>
                                            <mn class="m-exponent">2</mn>
                                        </msup>
                                    </mrow>
                                </mfrac>

                                <mo>&ThinSpace;</mo>
                                <mrow>
                                    <mi>d</mi>
                                    <mi class="m-variabila">x</mi>
                                </mrow>
                            </mrow>
                        </math>
                    </details>
                </section>


                <section id="galerie-statica">
                <h2>Galerie</h2>
                <div id="grid-galerie" class="grid-galerie">
                    <figure>
                    <img src="/resurse/imagini/shushi1.png" alt="shushi1">
                    <figcaption>Rulou de creveți tempura</figcaption>
                    </figure>
                    <figure>
                    <img src="/resurse/imagini/shushi2.png" alt="shushi2">
                    <figcaption>Rulou california</figcaption>
                    </figure>
                    <figure>
                    <img src="/resurse/imagini/shushi3.png" alt="shushi3">
                    <figcaption>Rulou katsu de pui picant</figcaption>
                    </figure>
                </div>
            </section>

            <section id="linkuri">
                <h2>Link-uri utile </h2>
                <ul>
                <li><a href="https://www.instagram.com/shibuya.coffee.bucharest/" target="_blank">Pagina de instagram</a></li>
                <li><a href="https://www.instagram.com/p/DNOcPGfoM8M/#splash-screen" target="_blank">Movie night</a></li>
                <li><a href="#footer">Subsol</a></li>
                <li><a href="#">Inapoi la titlu</a></li>
                <li><a href="/resurse/imagini/poza_start.png" download="poza_descarcata.png">Poza</a></li>
                </ul>
            </section>

            <section id="retete">
                <h2>Retete</h2>
                    <p>Dacă doriți să vă preparați singuri sushi-ul și cafeaua acasă (deși de ce v-ați complica atunci când există bistro-ul nostru?)
                    vă recomandăm următoarele rețete pe care sperăm să le încercați, să vedeți cât e de <s>ușor</s> să rulați orezul perfect,
                    și în final să lăsați munca pe seama noastră și să faceți o rezervare la cafenea . Mulțumim! &#128513;</p>
                <div class="container-iframe">
                    <div class="taburi-iframe">
                        <a href="https://www.youtube.com/embed/8aMuMYYKxDM" target="ifr-video">Rulou de creveți tempura</a>
                        <a href="https://www.youtube.com/embed/IKrOZQ0HBEM" target="ifr-video">Rulou california</a>
                        <a href="https://www.youtube.com/embed/VN34nnb1HjE" target="ifr-video">Rulou katsu de pui picant</a><br/>
                    </div>
                    <iframe src="https://www.youtube.com/embed/VN34nnb1HjE" name="ifr-video" title="YouTube video player" frameborder="0" class="iframe_cu_butoane"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <Br>

                <h2>Uita-ti aici un exemplu de mod de preparare</h2>
                
                <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/8aMuMYYKxDM?playlist=IKrOZQ0HBEM,VN34nnb1HjE,8aMuMYYKxDM&autoplay=1&controls=1&loop=1&mute=1" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>

            </section>

            <section id="meniu-pdf">
                <h3>Meniul nostru detaliat</h3>         
                <details>
                    <summary style="cursor: pointer; font-weight: bold; color: #A31D1D;">
                        Apăsați aici pentru a vizualiza Meniul
                    </summary>
                    
                    <div style="margin-top: 15px;">
                        <object data="/resurse/meniu.pdf" type="application/pdf" style="height: 600px; width: 100%;">
                            <p>Acest browser nu suportă afișarea directă a documentelor. Vă așteptăm în locație pentru a consulta meniul fizic!</p>
                        </object>
                    </div>
                </details>
            </section>
            </div>

            </div>
        </main>
        <Br>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>