$nul:0;


nav
{

    --latime_buton:200px;
    --inaltime_buton:50px;
}

ul.meniu{
    display: flex;
    height: 40px;
    
}

ul.meniu ul{
    display: none;
    animation: animatie_submeniu 0.3s linear;
    transform-origin: $nul $nul;
}

ul.meniu, ul.meniu {
    ul{
        position: relative;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

.text-icon, .imag-icon{
    display: inline-block;
}

#hamburger , #ch-menu{
    display: none;
}

ul.meniu li{
    width: var(--latime_buton);
    height: var(--inaltime_buton);
    color: red;
    border: 1px solid var(--culoare_contur);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    transition: all 0.15s linear;
    text-align: center;
    font-weight: bold;
}

ul.meniu li:hover{
    background-color: rgb(33, 66, 96);
    color: rgb(216, 204, 226);
}

ul.meniu li{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

ul.meniu>li:hover ul{
    display: block;
    position: absolute;
    z-index: 1;
}



@keyframes animatie_submeniu{
    0%{opacity: 0%;transform: scale(0,0);}
    50%{transform: scale(0.5,1);}
    100%{opacity: 100%;transform: scale(1,1);}
}