#hamburger{
    display: block;
}

#hamburger > img{
    height: 1em;
    width: auto;
}

ul.meniu{
    display: none;
}

#ch-menu:checked+ ul.meniu{
    display: block;
    position: absolute;
    width: 100%;
}

ul.meniu li{
    width: 100%;
    z-index: 2;
}

ul.meniu ul{
    width: 100%;
}