<footer id="footer">    
    <div class="container-contacte">
        <a href="#" id="link-top" title="Apasă pentru a reveni la începutul paginii">
            <span>&#8593;</span>
        </a>
        <strong>Contact <i class="fa-solid fa-phone"></i> :</strong>
        <a href="tel:+40712345678">0712 345 678</a>
        <p>Adresă<i class="fa-solid fa-shop"></i> : </p>
        <a href="https://www.google.com/maps/search/Facultatea+de+Matematica+si+Informatica" target="_blank">
            Str. Academiei nr.14, 010014 București
        </a>
        <p>E-mail<i class="fa-solid fa-envelope-open"></i> : </p>
        <a href="mailto:rezervari@cafenea&sushi.ro">rezervari@cafenea&sushi.ro</a><Br>
        <p><i class="fa-brands fa-square-instagram"></i><a href="https://www.instagram.com/shibuya.coffee.bucharest/">Instagram</a></p><br>
            <p><small>Copyright &copy; 2026 Panturu Daniel Ionut</small></p>
    </div>
</footer>