<nav>

                <label id="hamburger" for="ch-menu">
                    <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">    
                </label>
                <input type="checkbox" id="ch-menu"/>
                <h2>Navigare </h2>
                <ul class="meniu">
                    <li>Acasa
                        <ul >
                            <li><a href="#welcome">Welcome</a></li>
                            <li><a href="#promotii">Promoții</a></li>
                            <li><a href="#produse">Produsele</a></li>
                            <li><a href="#linkuri">Link-uri utile</a></li>
                            <li><a href="#anunturi">Anunturi</a></li>
                            <li><a href="#index-intrebari">Intrebari frecvente</a></li>
                            <li><a href="#galerie-statica">Galerie</a></li>
                            <li><a href="#retete">Retete</a></li>
                            <li><a href="#meniu-pdf">Meniu</a></li>
                            <li><a href="#footer">Subsol</a></li>
                        </ul>
                    </li>
                    <li>Meniu</li>
                    <li>Evenimente</li>
                    <li>Rezervari</li>
                </ul>
            </nav>