<nav>
    <h2>Navigare </h2>
    <label id="hamburger" for="ch-menu">
        <!-- <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">     -->
        <div class="div-container-hamburger">
            <div class="div-hamburger1"></div>
            <div class="div-hamburger2"></div>
            <div class="div-hamburger3"></div>
        </div>
    </label>
    <input type="checkbox" id="ch-menu"/>
    <ul class="meniu">
        <li><a href="/index"><div><p>Acasa</p> <i class="fa-solid fa-house-user"></i></div></a></i>
            <ul >
                <li><a href="/index#welcome">Welcome</a></li>
                <li><a href="/index#promotii">Promoții</a></li>
                <li><a href="/index#produse">Produsele</a></li>
                <li><a href="/index#linkuri">Link-uri utile</a></li>
                <li><a href="/index#anunturi">Anunturi</a></li>
                <li><a href="/index#index-intrebari">Intrebari frecvente</a></li>
                <li><a href="/index#galerie-statica">Galerie</a></li>
                <li><a href="/index#retete">Retete</a></li>
                <li><a href="/index#meniu-pdf">Meniu</a></li>
                <li><a href="/index#footer">Subsol</a></li>
            </ul>
        </li>
        <li><a href="/produse"><div><p>Produse</p> <i class="fa-solid fa-grip"></i></div></a>
            <ul >
                <li><a href="/produse">Toate</a></li>
                <li><a href="/produse?tip=cafea/ceai">Cafea/ceai</a></li>
                <li><a href="/produse?tip=sushi">Sushi</a></li>
                <li><a href="/produse?tip=desert">Desert</a></li>
            </ul></li>
        <li><a href="/galerie"><div><p>Galerie</p> <i class="fa-regular fa-images"></i></div></a>
            <ul >
                <li><a href="/galerie#grid-galerie">Galerie statica</a></li>
                <li><a href="/galerie#galerie-animata">Galerie animata</a></li>
            </ul>
        </li>
        <li><div><p>Rezervari</p> <i class="fa-solid fa-calendar-check"></i></div></li>
    </ul>
</nav>