#hamburger, #ch-menu, ul.meniu ul {
  display: none;
}

#hamburger div.div-container-hamburger .div-hamburger3, #hamburger div.div-container-hamburger .div-hamburger2, #hamburger div.div-container-hamburger .div-hamburger1 {
  margin-bottom: 0.5em;
  width: 3.5em;
  height: 1em;
  border-radius: 0.5em;
}

a {
  color: black;
  text-decoration: none;
}

ul.meniu {
  display: flex;
  height: 40px;
}
ul.meniu ul {
  animation: animatie_submeniu 0.3s linear;
  transform-origin: top;
  position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.meniu li {
  position: relative;
  gap: 8px;
  width: 160px;
  height: 35px;
  background-color: #FFA038;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 24px;
  transition: all 0.3s linear;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0px -50px rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.meniu li:hover {
  background-color: #FFEC38;
  text-shadow: 0px 0px rgb(0, 0, 0);
}
ul.meniu li:hover > ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}
ul.meniu li:hover > ul > li {
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
}
ul.meniu li:hover > ul > li:hover {
  text-shadow: none;
  background-color: #FFD539;
}
ul.meniu li:hover > ul > li > a {
  text-decoration: none;
  color: black;
}
ul.meniu li p {
  display: inline-block;
  margin: 0;
}
ul.meniu li i {
  margin: 0;
}

.text-icon, .imag-icon {
  display: inline-block;
}

#hamburger div.div-container-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  width: 10px;
}
#hamburger div.div-container-hamburger .div-hamburger1 {
  animation: anim-hamburger1 0.3s linear forwards;
  animation-delay: 0ms;
}
#hamburger div.div-container-hamburger .div-hamburger2 {
  animation: anim-hamburger2 0.3s linear forwards;
  animation-delay: 300ms;
}
#hamburger div.div-container-hamburger .div-hamburger3 {
  animation: anim-hamburger3 0.3s linear forwards;
  animation-delay: 600ms;
}

@keyframes animatie_submeniu {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    transform: scale(0.5, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes anim-hamburger1 {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
    background-color: rgb(255, 255, 255);
  }
  50% {
    transform: scale(0.5, 1);
    background-color: rgb(200, 200, 200);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    background-color: rgb(209, 245, 2);
  }
}
@keyframes anim-hamburger2 {
  0% {
    opacity: 0;
    transform: rotate(45deg);
    background-color: rgb(255, 255, 255);
  }
  50% {
    transform: scale(0.5, 1);
    background-color: rgb(200, 200, 200);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    background-color: rgb(155, 249, 169);
  }
}
@keyframes anim-hamburger3 {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    background-color: rgb(255, 255, 255);
  }
  50% {
    transform: scale(0.5, 1);
    background-color: rgb(200, 200, 200);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    background-color: rgb(73, 236, 190);
  }
}